body {
}

/* .block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
} */

.search-form-block {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;

  padding-left: 15px;
}

.form-control:hover,
.form-control:focus {
  border: 1px solid #000;
}

[type='submit'] {
  border-radius: 8px;
  border-color: #4e75ff;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 15px;
  cursor: pointer;
  border-style: hidden;
}

[type='submit']:hover,
[type='submit']:focus {
  background-color: #6c8cff;
  border-color: #6c8cff;
}

.loader {
  position: relative;
  width: 130px;
  height: 100px;
  display: none;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(#0277bd, #0277bd),
    linear-gradient(#29b6f6, #4fc3f7), linear-gradient(#29b6f6, #4fc3f7);
  background-size: 80px 70px, 30px 50px, 30px 30px;
  background-position: 0 0, 80px 20px, 100px 40px;
}
.loader:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 12px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  box-sizing: content-box;
  border: 10px solid #000;
  box-shadow: 78px 0 0 -10px #fff, 78px 0 #000;
  animation: wheelSk 0.75s ease-in infinite alternate;
}

.loader:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0px;
  height: 70px;
  width: 70px;
  background-image: linear-gradient(#fff 45px, transparent 0),
    linear-gradient(#fff 45px, transparent 0),
    linear-gradient(#fff 45px, transparent 0);
  background-repeat: no-repeat;
  background-size: 30px 4px;
  background-position: 0px 11px, 8px 35px, 0px 60px;
  animation: lineDropping 0.75s linear infinite;
}

@keyframes wheelSk {
  0%,
  50%,
  100% {
    transform: translatey(0);
  }
  30%,
  90% {
    transform: translatey(-3px);
  }
}

@keyframes lineDropping {
  0% {
    background-position: 100px 11px, 115px 35px, 105px 60px;
    opacity: 1;
  }
  50% {
    background-position: 0px 11px, 20px 35px, 5px 60px;
  }
  60% {
    background-position: -30px 11px, 0px 35px, -10px 60px;
  }
  75%,
  100% {
    background-position: -30px 11px, -30px 35px, -30px 60px;
    opacity: 0;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 24px;
  width: 1128px;
  margin: auto;
  margin-top: 32px;
  padding: 0;
  background-color: #fff;
}

.gallery-item {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: calc((100% - 48px) / 3);
  max-width: 360px;
  max-height: 200px;
  overflow: hidden;
  z-index: 2;
}

.gallery-item:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.gallery-image {
  object-fit: cover;
}

.gallery-image:hover {
  cursor: pointer;
}

.image-stats-block {
  position: absolute;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;
  background: #fff;
  bottom: 0;
  z-index: 3;
}

.image-stats-list {
  display: flex;
  gap: 24px;
}

.image-stats-item {
  display: flex;
}

.image-stats-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image-stats-value {
  font-weight: 400;
  line-height: 2;
}

.modal {
  width: 1112px;
  height: 640px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.modal-image {
  width: 1112px;
  height: 640px;
}
